<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                안녕하세요. 초보 개발자 이상화입니다. 방문해주셔서 감사합니다.
            </p>
            <p class="paragraph-text justify-text">
                국비 지원 교육을 받아 코딩을 공부했고, 교육훈련 과정 중 <a href="http://itproject.ezenac.co.kr/goodspring/">팀프로젝트 웹사이트</a> 제작을 한 경험이 있습니다.
                교육훈련 중 Java, Python, HTML5, CSS, JavaScript, MySQL 등을 배웠습니다.
            </p>
            <p class="paragraph-text justify-text">
                I maintain a little blog at <a href="{{ site.blog_url }}">nagekar.com</a> where I write about my recent interests and other activities. I post my software projects on <a href="https://github.com/{{ site.github_username }}">GitHub</a>. My email address can be found at the <span class="extra-link"><a href="#extra">bottom</a></span> of this page.
            </p>
        </div>
    </section>
</div>