<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                안녕하세요. 신입 개발자 이상화입니다. 방문해주셔서 감사합니다.
            </p>
            <p class="paragraph-text justify-text">
                저는 홍익대 경영학과를 나왔고, 서울의 한 영어학원에서 약 4년간 (아르바이트 3년 + 정규직 1년) 사무보조, 교재 편집 및 고객응대 등의 업무로 근무한적이 있습니다. 프로그래밍에 큰 흥미를 느껴 서울 강남의 이젠IT아카데미에서 국비 지원 교육(2021.03.23~09.02)을 받아 코딩을 공부했고, 개발자가 되는 것이 꿈이 되었습니다. 교육훈련 과정 중 <a href="http://itproject.ezenac.co.kr/goodspring/">팀프로젝트 웹사이트</a> 제작을 한 경험이 있습니다. 교육훈련 중 Java, Python, HTML5, CSS, JavaScript, MySQL 등의 언어를 공부했습니다. 현재는 ORACLE과 Android를 가볍게 공부하고 있습니다.
            </p>
            <p class="paragraph-text justify-text">
                저는 새로운 것을 배우는데에 거부감 없이, <span style="font-size: 15px;">진취적</span>이고 <span style="font-size: 15px;">적극적</span>으로 배우는 자세를 가지고 있습니다. 끊임없이 공부하는 자세는 개발자로서 꼭 가져야하는 자세라 배웠습니다. 제가 현재 가지고 있는 기술은 많지 않지만, 앞으로의 성장가능성은 끝이 없을 거라 생각합니다. 현재의 단기적인 목표는 취업과 정보처리기사 자격증 취득이고 장기적으로는 FE BE뿐 아니라 네트워킹과 서버 관련 기술 등을 공부해 <span style="font-size: 18px;">서버 전문가</span>가 되는 것을 목표로 공부하고 있습니다.
            </p>
        </div>
    </section>
</div>