<div class="section-wrapper">
    <section class="section projects" id="projects">
        <div class="full-width">
            <div class="section-heading" id="featured-projects-text">Projects</div>
            <div class="project-technologies">
                <a id="featured" class="semi-transparent-button with-border white-button" onclick="selected('featured')">Web Projects</a>
            </div>
            <div class="projects-wrapper">
                <!-- filled in by js -->
                <div class="wrapper">
                    <div class="card radius shadowDepth1">
                        <div class="card__image border-tlr-radius">
                            <a href="http://itproject.ezenac.co.kr/goodspring">
                                <img src="https://itpaper.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F2ce552fa-cee3-4d27-9b7a-ef88492f5073%2F%EB%8C%80%EB%AC%B84.png?table=block&id=31cf3da8-111f-4fab-aa46-2d35652980a2&spaceId=7369235a-fecb-44e2-99f6-43b6e395e95e&width=3710&userId=&cache=v2" alt="image" id="project-image" class="border-tlr-radius">
                            </a>
                        </div>
                        <div class="card__content card__padding">
                            <article class="card__article">
                                <h2><a href="http://itproject.ezenac.co.kr/goodspring">G.O.O.D</a></h2>
                                <p class="paragraph-text-normal">팀 프로젝트로 진행한 Spring 기반의 웹사이트입니다. 홈페이지 디자인은 <a href="https://www.myrealtrip.com/">마이리얼트립</a>을 벤치마킹했으며, 저는 로그인, 프로필사진 업로드, 카카오 지도 API기반의 지도에 선형 정보 구현, 사용자의 위치정보를 기반으로 거리 계산, 기록하기 기능으로 기록된 코스를 글로 남기는 '나만의 코스' 게시판 등의 핵심 기능 구현을 맡았습니다. 또한 저를 제외하고 나머지 5인의 팀원들을 거의 도왔기때문에 프로젝트 전반의 코드나, 기능에 대하여 가장 잘 이해했으며 때문에 전체 프로젝트 디버깅을 맡았습니다.</p>
                                <p>
                                    기록하기 기능은 http 프로토콜 사용시 HTML5 Geolocation API 등 위치정보 사용제한때문에 실제 서버에서는 동작이 막혀있는 상태입니다.</p>
                            </article>
                            <div class="card__meta" style="line-height: 2.15;">
                                <span class="project-technology paragraph-text-normal">Spring Framework</span>
                                <span class="project-technology paragraph-text-normal">MySQL</span>
                                <span class="project-technology paragraph-text-normal">Tomcat</span>
                                <span class="project-technology paragraph-text-normal">JavaScript</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>