<div class="section-wrapper">
    <section class="section projects" id="projects">
        <div class="full-width">
            <div class="section-heading" id="featured-projects-text">Projects</div>
            <div class="project-technologies">
                <a id="featured" class="semi-transparent-button with-border white-button" onclick="selected('featured')">Web Projects</a>
            </div>
            <div class="projects-wrapper">
                <!-- filled in by js -->
                <div class="wrapper">
                    <div class="card radius shadowDepth1">
                        <div class="card__image border-tlr-radius">
                            <a href="http://itproject.ezenac.co.kr">
                                <img src="https://itpaper.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F2ce552fa-cee3-4d27-9b7a-ef88492f5073%2F%EB%8C%80%EB%AC%B84.png?table=block&id=31cf3da8-111f-4fab-aa46-2d35652980a2&spaceId=7369235a-fecb-44e2-99f6-43b6e395e95e&width=3710&userId=&cache=v2" alt="image" id="project-image" class="border-tlr-radius">
                            </a>
                        </div>
                        <div class="card__content card__padding">
                            <article class="card__article">
                                <h2><a href="http://itproject.ezenac.co.kr">G.O.O.D</a></h2>
                                <p class="paragraph-text-normal">팀 프로젝트로 진행한 Spring 기반의 웹사이트입니다. 홈페이지 디자인은 <a href="https://www.myrealtrip.com/">마이리얼트립</a>을 벤치마킹했으며, 카카오 지도 API기반의 지도 위 선형 정보 구현이 핵심 기능입니다.</p>
                            </article>
                            <div class="card__meta">
                                <span class="project-technology paragraph-text-normal">Spring Framework</span>
                                <span class="project-technology paragraph-text-normal">MariaDB</span>
                                <span class="project-technology paragraph-text-normal">Tomcat</span>
                                <span class="project-technology paragraph-text-normal">JavaScript</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>